<h1>Hello, world!Let's Chat</h1>

<div class="container">
  <div class="row">

    <div class="col-sm">
      <b>Available Channels:</b>
      <div *ngFor="let channel of channelService.channels">
        <a (click)="reJoinChannel()" [routerLink]="['/channel',{id:channel.id}]">{{channel.title}}</a>
      </div>
    </div>

    <div class="col-sm">
      Channel Name:<b>{{current_channel.title}}</b>
  <form id="chatForm" (ngSubmit)="onSubmit()" [formGroup]="chatForm">
    <input id="submit" name="submit" type="text" formControlName="msgText" placeholder="Type a message" />
    <button type="submit">Send</button>
  </form>
  <div *ngFor="let message of message_history">
    <div><font color="blue">{{message.senderName}}</font> wrote {{ message.text }} on{{message.sentAt}}</div>
  </div>
</div>

    <div class="col-sm">
      <b>People on this Channel:</b>
        <div *ngFor="let client of connected_clients">
          <div><font color="orange">{{client}}</font></div>
        </div>
</div>

  </div>
</div>





